# cache files
__pycache__/
migrations/
.pytest_cache/

# ipynb files
*.ipynb

# secure files
.env
.env*

# log files
logs/
.log

# dist folder
**/dist/

# prof files
*.prof

# media files
media/*
!media/default/no_img-removebg-preview.png
!media/default/no_img.png
