<!doctype html>
<html lang="ko">

<head>


    <!--====== TITLE ======-->
    <title>{% block title %}Devspoon's Django Blog{% endblock %}</title>

    <!--====== METATAG ======-->
    {% include "base/meta.html" %}

    <!--====== ANALYSISTICS ======-->
    {% include "base/analytics.html" %}

    <!--====== ICONS & STYLES ======-->
    {% include "base/icons_styles.html" %}

</head>

<body>

	<!--====== PRELOADER START ======-->

    {% include "base/preloader.html" %}

	<!--====== PRELOADER ENDS ======-->

    <!--====== MOBILE MENU START ======-->

    {% include "base/mobile_menu.html" %}

    <!--====== MOBILE MENU END ======-->

	<!--====== HEADER START ======-->

    {% include "base/header.html" %}


	<!--====== HEADER ENDS ======-->

    {% block content %}
    {% endblock %}



	<!--====== FOOTER START ======-->

    {% include "base/footer.html" %}

	<!--====== FOOTER ENDS ======-->

	<!--====== BACK TOP TOP START ======-->
	<a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
	<!--====== BACK TOP TOP ENDS ======-->

    <!--====== JAVASCRIPT ======-->
    {% include "base/javascripts.html" %}

</body>

</html>