{% load static %}

<!--====== FAVICON ICON ======-->
<link rel="shortcut icon" href="{% static 'images/favicons/favicon-32x32.png' %}" type="image/png">

<!--====== ANIMATE CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/animate/animate-4.1.0.min.css' %}">

<!--====== TINY-SLIDER SLIDER CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/slider/tiny-slider/tiny-slider-2.9.3.css' %}">

<!--====== AOS SLIDER CSS ======-->
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 

<!--====== glightbox CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/litebox/css/glightbox-3.1.0.min.css' %}">

<!--====== SELECTR CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/selectr/selectr.css' %}">

<!--====== NOUISLIDER CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/nouislider/css/nouislider-15.5.1.css' %}">

<!--====== BOOTSTRAP CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap-5.1.3.min.css' %}">

<!--====== LINEICONS ICONS CSS ======-->
<link rel="stylesheet" href="{% static 'vendors/icons/Lineicons/Lineicons-3.0.css' %}">

<!--====== IONICFRAMEWORK ICONS CSS ======-->
<!--<link rel="stylesheet" href="{% static 'vendors/icons/ionicons/ionicons-2.0.0.min.css' %}">-->

<!--====== ICOFONT CSS ICONS ======-->
<link rel="stylesheet" href="{% static 'vendors/icons/icofont/icofont-1.0.1.min.css' %}">

<!--====== Floaticon CSS icons ======-->
<link rel="stylesheet" href="{% static 'vendors/icons/floaticon/flaticon.css' %}">

<!--====== SIMPLE-LINE-ICONS ICONS CSS ======-->
<!--<link rel="stylesheet" href="{% static 'vendors/icons/simple-line-icons/simple-line-icons-2.4.0.css' %}">-->

<!--====== SUMMERNOTE CSS ======-->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.css" rel="stylesheet">

<!--====== FONT AWESOME CSS ======-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!--====== STYLE CSS ======-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">


