<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>devspoon's django blog</title>
<meta name="author" content="bluebamus">
<meta name="description" content="blog, portfolio, django, opensource, devops, backend, full-stack, developer, web, rest api, server, aws, python">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="devspoon's django blog">
<meta name="twitter:description" content="django, developer, blog, portfolio, opensource, web, rest api, server, aws, python, backend, full-stack">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:image" content="https://devspoon.com/data/common/6e78f40f6f9254ee2db5.jpg">

<!-- Open Graph general (Facebook, Pinterest)-->
<meta property="og:title" content="devspoon's django blog">
<meta property="og:description" content="django, developer, blog, portfolio, opensource, web, rest api, server, aws, python, backend, full-stack">
<meta property="og:url" content="https://devspoons.com">
<meta property="og:site_name" content="devspoon's django blog">
<meta property="og:type" content="website">
<meta property="og:image" content="https://devspoon.com/data/common/6e78f40f6f9254ee2db5.jpg">

<!-- Emoji SVG favicon -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦝</text></svg>">

<!-- https://realfavicongenerator.net -->

<!-- CSS -->
