<div class="body_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="#" onclick="return false;"><i class="lni lni-close"></i></a>
                    </div>
                    <div class="header_contact_info">
                        <ul class="d-flex">
                            <li class="text-white"> <i class="lni lni-phone"></i> <a href="tel:+05483716566">+054
                                    8371 65 66</a></li>
                            <li class="text-white"> <i class="icofont-ui-email"></i> <a href="#" onclick="return false;">uthrstore@domain.com</a></li>
                        </ul>
                    </div>
                    <div class="header_social d-flex">
                        <span>Follow us</span>
                        <ul class="d-flex">
                            <li><a href="#" onclick="return false;"><i class="lni lni-twitter"></i></a></li>
                            <li><a href="#" onclick="return false;"><i class="lni lni-facebook"></i></a></li>
                            <li><a href="#" onclick="return false;"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="#" onclick="return false;"><i class="lni lni-youtube"></i></a></li>
                            <li><a href="#" onclick="return false;"><i class="lni lni-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="language_currency">
                        <ul class="d-flex">
                            <li class="language"><a href="#" onclick="return false;"> Eng <i class="icon-right ion-ios-arrow-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#" onclick="return false;">Ko</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="menu" class="sub-menu-bar text-left ">
                        <ul class="offcanvas_main_menu navbar-nav">
                            <li class="menu-item-has-children nav-item ">
                                <a class="page-scroll dd-menu collapsed" href="#" onclick="return false;"
                                    data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                    aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">Home<i class="icofont-rounded-down"></i></a>
                                <ul class="sub-menu collapse" id="submenu-1-1">
                                    <li class="nav-item "><a href="index.html">Home Default1</a></li>
                                    <li class="nav-item "><a href="index.html">Home Default2</a></li>
                                    <li class="nav-item "><a href="index.html">Home Default3</a></li>
                                    <li class="nav-item "><a href="index.html">Home Default4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a href="shop.html">Shop</a>
                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a href="product-details.html"> Product Details</a>
                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a href="#" onclick="return false;">sale</a>
                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a class="page-scroll  dd-menu collapsed" href="#" onclick="return false;"
                                    data-bs-toggle="collapse" data-bs-target="#submenu-5-1"
                                    aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">pages<i class="icofont-rounded-down"></i> </a>
                                    <ul class="sub-menu collapse" id="submenu-5-1">
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a class="page-scroll  dd-menu collapsed" href="#" onclick="return false;"
                                    data-bs-toggle="collapse" data-bs-target="#submenu-6-1"
                                    aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">blog<i class="icofont-rounded-down"></i></a>
                                    <ul class="sub-menu collapse" id="submenu-6-1">
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children nav-item">
                                <a href="#" onclick="return false;">buy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>