{% load static %}
{% load mptt_tags %}
{% load default_tags %}

{% main_menu_tag as main_menu %}
{% site_info_tag as site_info %}

<div class="body_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="#" onclick="return false;"><i class="lni lni-close"></i></a>
                    </div>
                    <div class="header_contact_info">
                        <ul class="d-flex">
                            <li class="text-white"> <i class="lni lni-phone"></i> <a href="tel:{{site_info.country_code}}-{{site_info.office_phone_number}}">{{site_info.country_code}}-{{site_info.office_pone_number}}</a></li>
                            <li class="text-white"> <i class="icofont-ui-email"></i> <a href="mailto:{{site_info.office_email}}" >{{site_info.office_email}}</a></li>
                        </ul>
                    </div>
                    <div class="header_social d-flex">
                        <span>Follow us</span>
                        <ul class="d-flex">
                            {% if site_info.office_twitter %}
                                <li><a href="{{ site_info.office_twitter }}"><i class="lni lni-twitter"></i></a></li>
                            {% endif %}

                            {% if site_info.office_facebook %}
                            <li><a href="{{ site_info.office_facebook }}"><i class="lni lni-facebook"></i></a></li>
                            {% endif %}

                            {% if site_info.office_instragram %}
                            <li><a href="{{ site_info.office_instragram }}"><i class="lni lni-instagram"></i></a></li>
                            {% endif %}

                            {% if site_info.office_youtube %}
                            <li><a href="{{ site_info.office_youtube }}"><i class="lni lni-youtube"></i></a></li>
                            {% endif %}                            
                        </ul>
                    </div>
                    <div class="language_currency">
                        <ul class="d-flex">
                            <li class="language"><a href="#" onclick="return false;"> Eng <i class="icon-right ion-ios-arrow-down"></i></a>
                                <ul class="dropdown_language">                                    
                                    <li><a href="#" onclick="return false;">Eng</a></li>
                                    <li><a href="#" onclick="return false;">Kor</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div id="menu" class="sub-menu-bar text-left ">
                        <ul class="offcanvas_main_menu navbar-nav">
                            {% recursetree main_menu %}

                            {% if node.is_root_node %}
                            <li class="menu-item-has-children nav-item ">
                                <a class="page-scroll dd-menu collapsed" href="#" onclick="return false;"
                                    data-bs-toggle="collapse" data-bs-target="#submenu-{{node.pk}}"
                                    aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">{{ node.menu_name }}
                                    
                                {% if not node.is_leaf_node %} 
                                    <i class="icofont-rounded-down"></i></a>
                                    <ul class="sub-menu collapse" id="submenu-{{node.pk}}">
                                {% elif node.is_leaf_node %}                                    
                                    </a></li>
                                {% endif %}                                

                            {% elif node.is_child_node and node.level == 1 %}                                    
                                {% if node.menu_link  %}
                                    <li class="nav-item "><a href="{{ node.menu_link }}">{{ node.menu_name }}</a></li>
                                {% elif node.menu_slug %}
                                    <li class="nav-item "><a href="{{ node.get_absolute_url }}">{{ node.menu_name }}</a></li>
                                {% else %}
                                    <li class="nav-item ">{{ node.menu_name }}</li>                                    
                                {% endif %}

                                {% if not node.get_next_sibling %}                
                                    </ul>
                                </li>                            
                                {% endif %}

                            {% endif %}

                            {% if not node.is_leaf_node %}                              
                            {{ children }}                                    
                            {% endif %}  
                            {% endrecursetree %}     
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>