{% load pagination_tags %}

<div class="row">
    <div class="col-lg-12 pb-xs-30 pb-sm-70 pb-100">
    <div class="pagination-area text-center lg-pt-0 sm-pb-0 pb-lg-30 pb-100">
        <nav>
        <ul class="page-numbers">
            {% if page_obj.has_previous %}
            <li>
                {% if keyword %}
                <a class="page-number prev" href="?page={{ page_obj.previous_page_number }}&&keyword={{keyword}}">
                {% elif tag %}
                <a class="page-number prev" href="?page={{ page_obj.previous_page_number }}&&tag={{tag}}">
                {% else %}
                <a class="page-number prev" href="?page={{ page_obj.previous_page_number }}">
                {% endif %}
                <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </li>
            {% else %}
            <li>
                <a class="page-number prev" href="#">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </li>
            {% endif %}

            {% for page in page_obj|slice_visible_pages %}
                {% if page_obj.number == page %}
                <li class="page-item active">
                    {% else %}
                <li class="page-item">
                    {% endif %}
                    {% if keyword %}
                    <a class="page-link" href="?page={{ page }}&&keyword={{keyword}}">
                    {% elif tag %}
                    <a class="page-link" href="?page={{ page }}&&tag={{tag}}">
                    {% else %}
                    <a class="page-link" href="?page={{ page }}">
                    {% endif %}
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li>
                {% if keyword %}
                <a class="page-number next" href="?page={{ page_obj.next_page_number }}&&keyword={{keyword}}">
                {% elif tag %}
                <a class="page-number next" href="?page={{ page_obj.next_page_number }}&&tag={{tag}}">
                {% else %}
                <a class="page-number next" href="?page={{ page_obj.next_page_number }}">
                {% endif %}
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </a>
            </li>
            {% else %}
            <li>
                <a class="page-number next" href="#">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </a>
            </li>
            {% endif %}

        </ul>
        </nav>
    </div>
    </div>
</div>