<div class="replies-pagination">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    {% comment %} <li class="page-item" id="previous-li" >
                    <a class="page-link" id="previous-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li class="page-item" id="next-li">
                    <a class="page-link" id='next-link' href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</div>