

<div class="comment-area">
    <h2 class="inner-title">{{board.reply_count}} Comments</h2>
    <div class="comment-content">

        <div class="reply-input comment-form-wrap mt-5">
            <div class="clearfix"></div>
            <form action="{% url 'blog:opensource_reply_create' board.pk %}" method="post">
                {% csrf_token %}
                <div class="comment-form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control reply-input-box" name="comment" id="comment" cols="45" rows="7" placeholder="Your Comment *" required></textarea>
                                <input type="hidden" id="depth" name="depth" value="0">
                                <input type="hidden" id="parent" name="parent" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <div class="form-group mb-0 mx-3">
                                <button class="btn btn-outline-danger btn-sm" id="reply-create-fbt" type="submit">Save</button>
                                <button class="btn btn-outline-danger btn-sm" id="reply-update-fbt" >Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
