{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load portfolio_base_tag %}
{% block title %}portfolio{% endblock %}
{% block content %}
    {% if messages %}
    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{% trans "Get In Touch Messages" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                <h6>{{ message }}</h6>
                {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
	<!--====== About Me PART START ======-->
    <section class="about-me section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="about-left about-box">
                        <div class="section-title align-left">
                            {% trans "<h3>WHO <strong>AM I</strong>?</h3>" %}
                            {{portfolio.summary|safe}}
                            {% if portfolio.portfolio_cv_file %}
                            <a href="{{portfolio.portfolio_cv_file.url}}" class="btn btn-outline-danger" download>{{_("DOWNLOAD MY CV")}}</a>
                            {% endif %}
                            <!-- Button trigger modal -->
                        </div>
                        <div class="about-tab wow fadeInUp" data-wow-delay=".4s">
                            <!-- Nav Tab  -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for item in portfolio_summary %}
                                    {% if item.sort_num == 1 %}
                                    <li class="nav-item" role="presentation"><a class="nav-link active" id="{{item.get_position_display}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.get_position_display}}"
                                        role="tab" aria-controls="{{item.get_position_display}}" aria-selected="false">{{item.get_position_display}}</a></li>
                                    {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="{{item.get_position_display}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.get_position_display}}"
                                        role="tab" aria-controls="{{item.get_position_display}}" aria-selected="false">{{item.get_position_display}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!--/ End Nav Tab -->
                            <div class="tab-content" id="myTabContent">
                                {% for item in portfolio_summary %}
                                    {% if item.sort_num == 1 %}
                                        <div class="tab-pane fade show active" id="{{item.get_position_display}}" role="tabpanel" aria-labelledby="{{item.get_position_display}}-tab">
                                    {% else %}
                                        <div class="tab-pane fade show " id="{{item.get_position_display}}" role="tabpanel" aria-labelledby="{{item.get_position_display}}-tab">
                                    {% endif %}
                                            <div class="tab-content">
                                                {{item.content|safe}}
                                                <ul>
                                                    {% for item in item.skill|split_comma %}
                                                        <li><i class="lni lni-checkmark-circle"></i> {{item}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            {% if portfolio.portfolio_image1 %}
                            <div class="carousel-item active">
                                <img src="{{portfolio.portfolio_image1.url}}" class="d-block w-100" alt="{% get_verbose_name portfolio 'portfolio_image1' %}" />
                            </div>
                            {% endif %}
                            {% if portfolio.portfolio_image2 %}
                            <div class="carousel-item">
                                <img src="{{portfolio.portfolio_image2.url}}" class="d-block w-100" alt="{% get_verbose_name portfolio 'portfolio_image2' %}" />
                            </div>
                            {% endif %}
                            {% if portfolio.portfolio_image3 %}
                            <div class="carousel-item">
                                <img src="{{portfolio.portfolio_image3.url}}" class="d-block w-100" alt="{% get_verbose_name portfolio 'portfolio_image3' %}" />
                            </div>
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== About Me PART END ======-->

    <!--====== Experiences PART START ======-->
    <section class="experience timeline_area section_padding_130">\
        <div class="container" >
            <div class="row justify-content-center">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        {% blocktrans %}
                        <h1>Work Experience</h1>
                        <p>It shows experiences related to startup, planning, development, and marketing by color.</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area-->
                    <div class="apland-timeline-area">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Experiences PART END ======-->

    <!--====== Educations PART START ======-->
    <section class="educations section">
        <div class="container" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        {% blocktrans %}
                        <h1>Education & Study</h1>
                        <p>Learning history through online/offline sites or technical books.</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="educations-info-wrapper">
                            {% trans "<h3><strong>EDU</strong>CATION</h3>" %}
                            {% for item in study%}
                                {% if item.type == '0' %}
                                    <!-- About Info Item Start -->
                                    <div class="educations-info-item row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p>{{item.study_start_date|date:'Y-m-d'}}-{{item.study_end_date|date:'Y/m/d'}}</p>
                                            <h6><strong>{{item.site_name}}</strong></h6>
                                        </div>

                                        <div class="col-lg-8 ol-md-8 ol-sm-8 educations-info-border">
                                            <a href='{{item.class_link}}' target="_blank"><h4>{{item.title}}</h4></a>
                                            {{item.content|safe}}
                                        </div>
                                    </div>
                                    <!-- About Info Item End -->
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="educations-info-wrapper">
                            {% trans "<h3><strong>SKILL</strong>-BOOKS</h3>" %}
                            {% for item in study%}
                                {% if item.type == '1' %}
                                    <!-- About Info Item Start -->
                                    <div class="educations-info-item row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p>{{item.study_start_date|date:'Y-m-d'}}-{{item.study_end_date|date:'Y/m/d'}}</p>
                                            <h6><strong>{{item.site_name}}</strong></h6>
                                        </div>

                                        <div class="col-lg-8 ol-md-8 ol-sm-8 educations-info-border">
                                            <a href='{{item.class_link}}' target="_blank"><h4>{{item.title}}</h4></a>
                                            <p>{{item.content}}</p>
                                        </div>
                                    </div>
                                    <!-- About Info Item End -->
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Educations PART END ======-->

    <!--====== Interesting PART START ======-->
    <section class="interesting section">
        <div class="container" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="row">
                <!-- Section Title Start -->
                <div class="section--title">
                    <h2><strong>{% trans "WHAT I AM INTERESTED IN" %}</strong></h2>
                </div>
                <!-- Section Title End -->

                <div class="row row-eq-height">
                    {% for item in interested %}
                        <!-- Service Item Start -->
                        <div class="col-md-4 col-sm-6 service--item">
                            <div class="service--icon">
                                {% comment %} <i class="lni lni-cloud-network"></i> {% endcomment %}
                                {{item.icon|safe}}
                            </div>
                            <div class="service--content">
                                {{item.title|safe}}
                                <p>{{item.content|safe}}}</p>
                            </div>
                        </div>
                        <!-- Service Item End -->
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>
    <!--====== Interesting PART END ======-->

    <!--====== Project PART START ======-->
    <section class="latest-product-area py-5 pb-110">
        <div class="container" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        {% blocktrans %}
                        <h1>About Projects</h1>
                        <p>Open source, teaching/learning projects created and operated by teams or individuals.</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>

            <div class="row">
                {% for item in projects %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card-box">
                        <div class="card-img">
                            <a href="{% url 'blog:opensource_detail' item.projectpost %}">
                                <img src="{{item.projectpost.title_image}}">
                            </a>
                            <div class="product-action">
                                <a href="{{item.projectpost.repository}}"  class="share" title="Repository"><i class="lni lni-world"></i></a>
                            </div>
                        </div>

                        <div class="card-content">
                            <h3 class="name"><i class="lni lni-github"></i> <a href="{% url 'blog:opensource_detail' item.projectpost %}" >{{item.projectpost.title}}</a></h3>
                            <span class="update">{{item.projectpost.content|safe|truncatechars:80}}</span>
                            <div class="project-info row justify-content-center ">
                                <div class="col-6" >
                                    <i class="lni lni-calendar"></i> {{item.projectpost.created_at|date:'Y-m-d H:i'}}
                                </div>
                                {% if item.projectpost.dev_lang %}
                                <div class="col-6" >
                                    <i class="lni lni-bookmark"></i> {{item.projectpost.dev_lang}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.branch %}
                                <div class="col-6" >
                                    <i class="lni lni-layers"></i> {{item.projectpost.get_branch_display}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.role %}
                                <div class="col-6" >
                                    <i class="lni lni-folder"></i> {{item.projectpost.get_role_display}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.version %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> {{item.projectpost.version}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.repository %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> <a ref='{{item.projectpost.repository}}'>Repository</a>
                                </div>
                                {% endif %}

                                <div class="col-6" >
                                    <i class="lni lni-heart"></i> {{item.projectpost.like_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-comments-reply"></i> {{item.projectpost.reply_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-user"></i> {{item.projectpost.visit_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-pencil-alt"></i> {{item.projectpost.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--====== Project PART END ======-->

    {% if info.get_in_touch is True %}
    <!--====== Contact PART START ======-->
    <section class="contact py-5 pb-110">
        <div class="container" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
          <div class="row">
            <div class="col-lg-7">
              <div class="contact-form-wrapper">
                <form action="{% url 'portfolio:mail' %}" method="POST">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="name">{{_("Name")}}</label>
                        <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                        <i class="lni lni-user"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="email">{{_("Email")}}</label>
                        <input type="email" id="emailfrom" name="emailfrom" class="form-input" placeholder="Email">
                        <i class="lni lni-envelope"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="number">{{_("Number")}}</label>
                        <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                        <i class="lni lni-phone"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="subject">{{_("Subject")}}</label>
                        <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                        <i class="lni lni-text-format"></i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="single-input">
                        <label for="message">{{_("Message")}}</label>
                        <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                        <i class="lni lni-comments-alt"></i>
                      </div>
                    </div>
                    <input type="hidden" id="emailto" name="emailto" value="{{info.office_email}}">
                    <div class="col-md-12">
                      <div class="form-button">
                        <button type="submit" class="btn btn-primary btn-lg col-12">{{_("Submit")}}<i class="lni lni-telegram-original"></i> </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>

            <div class="col-lg-5 order-first order-lg-last">
              <div class="left-wrapper">
                <div class="section-title mb-40">
                    {% blocktrans %}
                  <h3 class="mb-15">Get in touch</h3>
                  <p>If you'd like to collaborate on something cool or share your thoughts, please get in touch! Cheerful, joyful, happy things are all good!</p>
                  {% endblocktrans %}
                </div>
                <div class="row">
                {% if info.phone_number %}
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-mobile"></i>
                      </div>
                      <div class="text">
                        <p>
                            {% if info.country_code %}
                            {{info.country_code}}
                            {% endif %}
                            {{info.phone_number}}</p>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if info.phone_number %}
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-phone"></i>
                      </div>
                      <div class="text">
                        <p>
                            {% if info.country_code %}
                            {{info.country_code}}
                            {% endif %}
                            {{info.office_phone_number}}</p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if info.office_email %}
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-envelope"></i>
                      </div>
                      <div class="text">
                        <p>{{info.office_email}}</p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--====== Contact PART END ======-->
    {% endif %}

	{% endblock %}