{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load portfolio_base_tag %}
{% block title %}portfolio{% endblock %}
{% block content %}
	<!--====== About Me PART START ======-->
    <section class="about-me section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="about-left about-box">
                        <div class="section-title align-left">
                            <h3>WHO <strong>AM I</strong>?</h3>
                            {{portfolio.summary|safe}}
                            <a href="{{portfolio.portfolio_cv_file.url}}" class="btn btn-outline-danger" download>DOWNLOAD MY CV</a>
                        </div>
                        <div class="about-tab wow fadeInUp" data-wow-delay=".4s">
                            <!-- Nav Tab  -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for item in portfolio_summary %}
                                    {% if item.sort_num == 1 %}
                                    <li class="nav-item" role="presentation"><a class="nav-link active" id="{{item.get_position_display}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.get_position_display}}" 
                                        role="tab" aria-controls="{{item.get_position_display}}" aria-selected="false">{{item.get_position_display}}</a></li>
                                    {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" id="{{item.get_position_display}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.get_position_display}}" 
                                        role="tab" aria-controls="{{item.get_position_display}}" aria-selected="false">{{item.get_position_display}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!--/ End Nav Tab -->
                            <div class="tab-content" id="myTabContent">
                                {% for item in portfolio_summary %}
                                    {% if item.sort_num == 1 %}
                                        <div class="tab-pane fade show active" id="{{item.get_position_display}}" role="tabpanel" aria-labelledby="{{item.get_position_display}}-tab">
                                    {% else %}
                                        <div class="tab-pane fade show " id="{{item.get_position_display}}" role="tabpanel" aria-labelledby="{{item.get_position_display}}-tab">
                                    {% endif %}
                                            <div class="tab-content">
                                                {{item.content}}
                                                <ul>
                                                    {% for item in item.skill|split_comma %}
                                                        <li><i class="lni lni-checkmark-circle"></i> {{item}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-right about-box wow fadeInRight" data-wow-delay=".4s">
                        <img src="assets/images/about/about-img.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== About Me PART END ======-->

    <!--====== Experiences PART START ======-->
    <section class="experience timeline_area section_padding_130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        <h1>Work Experience</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area-->
                    <div class="apland-timeline-area">
                     
                            <!-- Single Timeline Content-->
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p>Near Future</p>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                            <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                                            <div class="timeline-text">
                                                <h6>Updated 5.0</h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Experiences PART END ======-->

    <!--====== Educations PART START ======-->
    <section class="educations section">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        <h1>Education & Study</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt dolore magna.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="educations-info-wrapper">
                            <h3><strong>EDU</strong>CATION</h3>
                            {% for item in study%}
                                {% if item.type == '0' %}
                                    <!-- About Info Item Start -->
                                    <div class="educations-info-item row">                  
                                        <div class="col-4">
                                            <p>{{item.study_start_date|date:'Y-m-d'}}-{{item.study_end_date|date:'Y/m/d'}}</p>
                                            <h6><strong>{{item.site_name}}</strong></h6>
                                        </div>
                                        
                                        <div class="col-8 educations-info-border">
                                            <a href='{{item.class_link}}'><h4>{{item.title}}</h4></a>
                                            <p>{{item.content}}</p>
                                        </div>                            
                                    </div>
                                    <!-- About Info Item End -->      
                                {% endif %}
                            {% endfor %}                                      
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="educations-info-wrapper">
                            <h3><strong>SKILL</strong>-BOOKS</h3>
                            {% for item in study%}
                                {% if item.type == '1' %}
                                    <!-- About Info Item Start -->
                                    <div class="educations-info-item row">                                                        
                                        <div class="col-4">
                                            <p>{{item.study_start_date|date:'Y-m-d'}}-{{item.study_end_date|date:'Y/m/d'}}</p>
                                            <h6><strong>{{item.site_name}}</strong></h6>
                                        </div>
                                        
                                        <div class="col-8 educations-info-border">
                                            <a href='{{item.class_link}}'><h4>{{item.title}}</h4></a>
                                            <p>{{item.content}}</p>
                                        </div>                                                  
                                    </div>
                                    <!-- About Info Item End -->
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Educations PART END ======-->
    
    <!--====== Interesting PART START ======-->
    <section class="interesting section">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="section--title">
                    <h2><strong>WHAT I AM INTERESTED IN</strong></h2>
                </div>
                <!-- Section Title End -->
                
                <div class="row row-eq-height">
                    {% for item in interested %}
                        <!-- Service Item Start -->
                        <div class="col-md-4 col-sm-6 service--item">
                            <div class="service--icon">
                                {% comment %} <i class="lni lni-cloud-network"></i> {% endcomment %}
                                {{item.icon|safe}}
                            </div>
                            
                            <div class="service--content">
                                {{item.title|safe}}
                                
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                        <!-- Service Item End -->
                    {% endfor %}
                    
                    
                </div>
            </div>
        </div>
    </section>


    <!--====== Interesting PART END ======-->

    <!--====== Project PART START ======-->
    <section class="latest-product-area py-5 pb-110">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        <h1>About Projects</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt dolore magna.</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                {% for item in projects %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card-box">
                        <div class="card-img">
                            <a href="{% url 'blog:opensource_detail' item.projectpost %}">
                                <img src="{{item.projectpost.title_image}}">
                            </a>
                            <div class="product-action">
                                <a href="{{item.projectpost.repository}}"  class="share" title="Repository"><i class="lni lni-world"></i></a>
                            </div>
                        </div>
    
                        <div class="card-content">
                            <h3 class="name"><i class="lni lni-github"></i> <a href="{% url 'blog:opensource_detail' item.projectpost %}" >{{item.projectpost.title}}</a></h3>
                            <span class="update">{{item.projectpost.content|safe|truncatechars:80}}</span>
                            <div class="project-info row justify-content-center ">
                                <div class="col-6" >
                                    <i class="lni lni-calendar"></i> {{item.projectpost.created_at|date:'Y-m-d H:i'}}
                                </div>
                                {% if item.projectpost.dev_lang %}
                                <div class="col-6" >
                                    <i class="lni lni-bookmark"></i> {{item.projectpost.dev_lang}}
                                </div>
                                {% endif %}
                                
                                {% if item.projectpost.branch %}
                                <div class="col-6" >
                                    <i class="lni lni-layers"></i> {{item.projectpost.get_branch_display}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.role %}
                                <div class="col-6" >
                                    <i class="lni lni-folder"></i> {{item.projectpost.get_role_display}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.version %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> {{item.projectpost.version}}
                                </div>
                                {% endif %}

                                {% if item.projectpost.repository %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> <a ref='{{item.projectpost.repository}}'>Repository</a>
                                </div>
                                {% endif %}

                                <div class="col-6" >
                                    <i class="lni lni-heart"></i> {{item.projectpost.like_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-comments-reply"></i> {{item.projectpost.reply_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-user"></i> {{item.projectpost.visit_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-pencil-alt"></i> {{item.projectpost.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--====== Project PART END ======-->

    <!--====== Contact PART START ======-->
    <section class="contact py-5 pb-110">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="contact-form-wrapper">
                <form action="assets/php/contact.php" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                        <i class="lni lni-user"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                        <i class="lni lni-envelope"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="number">Number</label>
                        <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                        <i class="lni lni-phone"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                        <i class="lni lni-text-format"></i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="single-input">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                        <i class="lni lni-comments-alt"></i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-button">
                        <button type="submit" class="btn btn-primary btn-lg col-12">Submit <i class="lni lni-telegram-original"></i> </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
  
            </div>
  
            <div class="col-lg-5 order-first order-lg-last">
              <div class="left-wrapper">
                <div class="section-title mb-40">
                  <h3 class="mb-15">Get in touch</h3>
                  <p>Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-phone"></i>
                      </div>
                      <div class="text">
                        <p>0045939863784</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-envelope"></i>
                      </div>
                      <div class="text">
                        <p>yourmail@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        <i class="lni lni-map-marker"></i>
                      </div>
                      <div class="text">
                        <p>John's House, 13/5 Road, Sidny United State Of America</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--====== Contact PART END ======-->

	{% endblock %}