{% extends "base/base.html" %}
{% comment %} {% load search_tags %} {% endcomment %}
{% load static %}

{% block title %}opensource edit{% endblock %}

{% block content %}

    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="page-title-content text-center pb-lg-30 pb-80">
                <h2 class="title">latest<span> from our blog</span></h2>
                <div class="bread-crumbs pb-1"><a href="index.html">Home<span class="breadcrumb-sep">/</span></a><span class="active">Blog</span></div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-grid-area pb-1">
        <div class="container">
            <div class="row ">
                <div class="col-xl-4 col-lg-6 col-md-6">
                <!--== Start Blog Post Item ==-->
                    <div class="card-box">
                        <div class="card-img">
                            <a href="product-details.html">
                                <img src="assets/images/product/l-product-1.jpg" alt="">
                            </a>
                            <div class="product-action">
                                <a href="javascript:void(0)" class="share" title="Bookstore link"><i class="lni lni-world"></i></a>
                            </div>
                        </div>

                        <div class="card-content">
                            <h3 class="name"><i class="lni lni-github"></i> <a href="product-details.html">Apple iPhone x</a></h3>
                            <span class="update">Lorem ipsum dolor sit amet, consectetur cora adipiscing elit. Quisque vel...</span>
                            <ul class="project-info">
                                <li>
                                    <i class="lni lni-calendar"></i> 20 June, 2023
                                </li>
                                <li>
                                    <i class="lni lni-bookmark"></i> Django
                                </li>
                                <li>
                                    <i class="lni lni-layers"></i> Front-End
                                </li>
                                <li>
                                    <i class="lni lni-user"></i> Committer
                                </li>
                            </ul>
                        </div>
                    </div>
                <!--== End Blog Post Item ==-->
                </div>

                <div class="row">
                    <div class="col-lg-12 pb-xs-30 pb-sm-70 pb-100">
                    <div class="pagination-area text-center lg-pt-0 sm-pb-0 pb-lg-30 pb-100">
                        <nav>
                        <ul class="page-numbers">
                            <li>
                                <a class="page-number prev" href="#">
                                    <ion-icon name="chevron-back-outline"></ion-icon>
                                </a>
                            </li>
                            <li>
                            <span class="page-number current">1</span>
                            </li>
                            <li>
                            <a class="page-number" href="#">2</a>
                            </li>
                            <li>
                            <a class="page-number" href="#">3</a>
                            </li>
                            <li>
                            <a class="page-number" href="#">4</a>
                            </li>
                            <li>
                                <a class="page-number next" href="#">
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </a>
                            </li>
                        </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

	{% endblock %}