{% extends "base/base.html" %}
{% comment %} {% load search_tags %} {% endcomment %}
{% load static %}

{% block title %}opensource list{% endblock %}

{% block content %}

	<!--====== Blog Detail PART START ======-->
    <section class="blog-details-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 m-auto text-center">
              <h2 class="title">{{board.title}}</h2>
              Repository
              <a href="{{board.repository}}"><h4 class="pb-2">{{board.title}}</h4></a>
              <div class="post-info d-flex justify-content-center">
                <div>
                    Use
                    <a href="#" onclick="return false;">{{board.dev_lang}}</a>
                </div>
                <div>
                    Branch
                    <a href="#" onclick="return false;">{{board.branch}}</a>
                </div>
                <div>
                    Roles
                    <a href="#" onclick="return false;">{{board.role}}</a>
                </div>
              </div>

              <div class="meta">
                By
                <a class="author" href="#" onclick="return false;">{{board.author}}</a>
                <a href="#" onclick="return false;">{{board.created_at|date:'Y-m-d H:i'}}</a>
                <a class="category" href="#" onclick="return false;"><span>Difficulty</span>{{board.get_difficulty_level_display}}</a>
              </div>
            </div>

            <div class="col-lg-10 col-xl-8 m-auto">
                <div class="post-details-content">
                  <div class="post-details-body">
                    <div class="content">
                        {{board.content | safe}}

                    </div>
                    <div class="blog-links">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                link 1 :<a href='{{ board.link1 }}'>{{ board.link1|urlizetrunc:30 }}</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                link 2 :<a href='{{ board.link1 }}'>{{ board.link1|urlizetrunc:30 }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-files mt-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                file 1 :<a href='{{ board.file1 }}'>{{ board.file1|truncatechars:30 }}</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                file 2 :<a href='{{ board.file1 }}'>{{ board.file1|truncatechars:30 }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-history-navigation">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="nav-prev">
                              <a href="{% url 'blog:opensource_detail' pre_board.pk %}">
                                <span><i class="lni lni-arrow-left"></i> Older</span>
                                {{pre_board.title}} <br>{{pre_board|striptags|truncatechars:140 }}
                              </a>
                            </div>
                          </div>
                          {% if next_board %}
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="nav-next">
                              <a href="{% url 'blog:opensource_detail' next_board.pk %}">
                                <span>Newer <i class="lni lni-arrow-right"></i></span>
                                {{next_board.title}} <br>{{next_board|striptags|truncatechars:140 }}
                              </a>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                    </div>
                    <!-- blog history navigation end -->

                    <!-- comment list start -->
                    <div class="comment-area">
                        <h2 class="inner-title">02 Comments</h2>
                        <div class="comment-content">
                        <div class="single-comment">
                            <div class="author-info">
                            <div class="thumb">
                                <img src="assets/img/blog/author-02.png" alt="Image">
                            </div>
                            <div class="author-details">
                                <ul>
                                <li class="name">Daniel Vandaft <span>-</span></li>
                                <li class="meta-date">28 Jan, 2021</li>
                                </ul>
                                <p>Ut vitae suscipit nulla, sit amet ullamcorper sapien. Nam eget quam et velit pharetra molestie tincidunt sed tortor. Aliquam neque lorem, semper non luctus eget, aliquet eu nisi.</p>
                                <a class="btn-reply" href="#/">Reply</a>
                            </div>
                            </div>
                        </div>
                        <div class="single-comment fist-reply">
                            <div class="author-info">
                            <div class="thumb">
                                <img src="assets/img/blog/author-02.png" alt="Image">
                            </div>
                            <div class="author-details">
                                <ul>
                                <li class="name">Daniel Vandaft <span>-</span></li>
                                <li class="meta-date">28 Jan, 2021</li>
                                </ul>
                                <p>Ut vitae suscipit nulla, sit amet ullamcorper sapien. Nam eget quam et velit pharetra molestie tincidunt sed tortor. Aliquam neque lorem, semper non luctus eget, aliquet eu nisi.</p>
                                <a class="btn-reply" href="#/">Reply</a>
                            </div>
                            </div>
                        </div>
                        <div class="single-comment second-reply">
                            <div class="author-info">
                            <div class="thumb">
                                <img src="assets/img/blog/author-02.png" alt="Image">
                            </div>
                            <div class="author-details">
                                <ul>
                                <li class="name">Daniel Vandaft <span>-</span></li>
                                <li class="meta-date">28 Jan, 2021</li>
                                </ul>
                                <p>Ut vitae suscipit nulla, sit amet ullamcorper sapien. Nam eget quam et velit pharetra molestie tincidunt sed tortor. Aliquam neque lorem, semper non luctus eget, aliquet eu nisi.</p>
                                <a class="btn-reply" href="#/">Reply</a>
                            </div>
                            </div>
                        </div>
                        <div class="single-comment">
                            <div class="author-info">
                            <div class="thumb">
                                <img src="assets/img/blog/author-03.png" alt="Image">
                            </div>
                            <div class="author-details">
                                <ul>
                                <li class="name">Danny Rivera <span>-</span></li>
                                <li class="meta-date">28 Jan, 2021</li>
                                </ul>
                                <p>Aliquam finibus, lectus eu tempor pretium, tellus erat sodales mauris, ac tincidunt nulla dolor a dui. Nullam pellentesque, felis hendrerit fringilla iaculis, elit ligula bibendum diam</p>
                                <a class="btn-reply" href="#/">Reply</a>
                            </div>
                            </div>
                        </div>
                        </div>
                        <h2 class="inner-title pt-10">Leave a Comment</h2>
                        <div class="comment-form-wrap">
                        <div class="clearfix"></div>
                        <form action="#" method="post">
                            <div class="comment-form-content">
                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Name *" required="">
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Email *" required="">
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" id="comment" cols="45" rows="7" placeholder="Your Comment *" required=""></textarea>
                                </div>
                                </div>
                            </div>
                            <div class="row pt-30">
                                <div class="col-md-12">
                                <div class="form-group mb-0">
                                    <button class="btn btn-theme" type="submit">Post Comment</button>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-theme" type="submit">Log in to leave a comment</button>
                                </div>
                                </div>
                            </div>
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- reply list end -->

                  </div> 
                </div>
              </div>

          </div>
        </div>
      </section>
	<!--====== Blog Detail PART END ======-->

	{% endblock %}