{% extends "base/base.html" %}
{% load static %}
{% block title %}blog{% endblock %}

{% block content %}

    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content text-center pb-lg-30 pb-80">
                    <h2 class="title">blog title </h2>
                    <div class="bread-crumbs pb-1">
                        <a href="{% url 'home:index' %}">Home<span class="breadcrumb-sep">/</span></a><span class="active navi-blog">blog navi</span>
                    </div>
                    {% if request.user.is_staff %}
                    <a href="create/" id="blog-list-write" class="btn btn-outline-success mt-2">write</a>
                    {% endif %}

                </div>
            </div>
        </div>
        </div>
    </section>

    <!--== End Page Title Area ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-grid-area pb-1">
        <div class="container">
            <div class="row ">

                {% for item in board %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                <!--== Start Blog Post Item ==-->
                    <div class="card-box">
                        <div class="card-img" >
                            <a href="detail/{{item.pk}}">
                                <img src="{{item.title_image}}">
                            </a>
                            <div class="product-action">
                                <a href="{{item.repository}}"  class="share" title="Repository"><i class="lni lni-world"></i></a>
                            </div>
                        </div>

                        <div class="card-content">
                            <h3 class="name"><i class="lni lni-github"></i> <a href="detail/{{item.pk}}" >{{item.title}}</a></h3>
                            <span class="update">{{item.content|safe|truncatechars:80}}</span>
                            <div class="project-info row justify-content-center ">
                                <div class="col-6" >
                                    <i class="lni lni-calendar"></i> {{item.created_at|date:'Y-m-d H:i'}}
                                </div>
                                {% if item.dev_lang %}
                                <div class="col-6" >
                                    <i class="lni lni-bookmark"></i> {{item.dev_lang}}
                                </div>
                                {% endif %}
                                
                                {% if item.branch %}
                                <div class="col-6" >
                                    <i class="lni lni-layers"></i> {{item.get_branch_display}}
                                </div>
                                {% endif %}

                                {% if item.role %}
                                <div class="col-6" >
                                    <i class="lni lni-folder"></i> {{item.get_role_display}}
                                </div>
                                {% endif %}

                                {% if item.difficulty_level %}
                                <div class="col-6" >
                                    <i class="lni lni-book"></i> {{item.get_difficulty_level_display}}
                                </div>
                                {% endif %}

                                {% if item.version %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> {{item.version}}
                                </div>
                                {% endif %}

                                {% if item.repository %}
                                <div class="col-6" >
                                    <i class="lni lni-tag"></i> <a ref='{{item.repository}}'>Repository</a>
                                </div>
                                {% endif %}

                                <div class="col-6" >
                                    <i class="lni lni-heart"></i> {{item.like_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-comments-reply"></i> {{item.reply_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-user"></i> {{item.visit_count}}
                                </div>
                                <div class="col-6" >
                                    <i class="lni lni-pencil-alt"></i> {{item.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                <!--== End Blog Post Item ==-->
                </div>
                {% endfor %}

                {% include "base/pagenation.html" %}
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

	{% endblock %}