{% extends "base/base.html" %}
{% load static %}

{% block title %}"Replacement Password"{% endblock %}

{% block content %}

	<!--====== UPDATE PASSWORD PART START ======-->
    <section class="replacement_password first grey">
        <div class="container">
            <div class="box-wrapper col col-lg-6">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Update Password</h4>
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <form action="{% url 'users:replace_password' userid  %}" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.help_text }}" name="{{ field.name }}" />
                            </div>
                            {% if field.errors %}
                            <ol class="validation_error">
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                            {% endfor %}
                            <div class="form-group text-right">
                                <button class="btn btn-primary col-12">Update</button>
                            </div>
                        </form>
                        <div class="form-group text-right">
                            <a href="{% url 'home:index' %}" class="col-12 mt-3"><button class="btn btn-primary col-12">Cancle</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== UPDATE PASSWORD PART END ======-->

{% endblock %}