{% extends "base/base.html" %}
{% comment %} {% load search_tags %} {% endcomment %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

	<!--====== RESET PASSWORD PART START ======-->
    <section class="reset_password first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Reset Password</h4>
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.help_text }}" name="{{ field.name }}" />
                            </div>
                            {% if field.errors %}
                            <ol>
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                            {% endfor %}
                            <div class="form-group text-right">
                                <button class="btn btn-primary col-12">Send mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== RESET PASSWORD END ======-->

{% endblock %}